.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
	background: rgba(0,0,0,0.55);
  z-index: 5;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  display: none;
  pointer-events: none;
  overflow-y: auto;
}

.modal:target {
	display: block;
	pointer-events: auto;
}
