@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
  url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
    font-family: "Liberation";
    src: url("../fonts/LiberationSansRegular/LiberationSansRegular.eot");
    src: url("../fonts/LiberationSansRegular/LiberationSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LiberationSansRegular/LiberationSansRegular.woff") format("woff"),
    url("../fonts/LiberationSansRegular/LiberationSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background: url(../img/squares.png);
  font-family: "MyriadProRegular", "Liberation", Arial;
}

.cent {
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.clear::after {
  content: "";
  display: table;
  clear: both;
}

 .modal {
   display: block;
 }

.c-blue {
  color: #489fdf;
}

.w50 {
  width: 50%;
}

header {
  position: relative;
  -webkit-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.5);
  font-size: 0;
  padding-bottom: 10px;
  background-color: #fff;
}

.cent div {
  display: inline-block;
}

.hd-top {
  width: 100%;
}

.hd-top h2,
.hd-top i {
  display: inline;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 32px;
}

.hd-top span {
  font-size: 13px;
}

.hd-top i {
  font-size: 42px;
  margin-right: 15px;
}

.hd-inscription {
  position: relative;
  /*border-left: 2px solid #489fdf;*/
  width: 175px;
  margin-left: 20px;
}

.hd-inscription::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -3px;
  right: calc(100% + 2px);
  height: 25px;
  background: #489fdf;
}

.teleph a,
.teleph p{
  font-size: 16px;
}

.teleph {
  display: block;
  float: right;
  padding-right: 32px;
  margin-top: 5px;
}

.teleph a:first-child {
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 3px;
}

.teleph i,
.teleph a,
.teleph p{
  color: #000;
  font-size: 15px;
}

.teleph i {
  margin-right: 2px;
}

.teleph  span {
  padding-left: 10px;
  font-size: 15px;
}

.teleph a,
.teleph i {
  transition: 0.2s;
}

.teleph a:hover,
.teleph a:hover i{
  color: #489fdf;
}

.title-block {
  background-color: #fff;
}

.main-top {
  display: block !important;
  text-align: center;
}

.main-top h3 {
  display: inline-block;
  font-size: 26px;
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 10px;
}

.main-bg {
  background: url(../img/img1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.main {
  width: 100%;
  height: 505px;
}

.main h3 {
  display: inline-block;
  font-size: 24px;
  padding: 5px 15px;
  background: rgba(255, 255, 255, 0.5);
  margin-top: 50px;
  margin-bottom: 25px;
}

.opis {
  display: inline-block;
  width: 50%;
  padding: 5px 15px;
  background: rgba(255, 255, 255, 0.5);
}

.opis span {
  padding: 5px 0;
}

.opis ul {
  display: inline-block;
  margin-top: 15px;
  margin-right: 35px;
  vertical-align: top;
}

.opis ul:last-child {
  margin-right: 0;
}

.opis li {
  margin-bottom: 10px;
}

.denujki {
  margin-right: 15px;
}

.denujki h3 {
  margin-top: 15px;
  padding: 5px 15px;
  background: rgba(255, 255, 255, 0.5);
}

.info {
  width: 155px;
}

.info a {
  color: #fff;
}

.strelka {
  position: relative;
  top: 5px;
  right: -6px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  box-shadow: rgba(0,0,0,.5) 0 1px 4px inset;
}

.strelka i {
  font-size: 13px;
  position: absolute;
  top: 4px;
  right: 4px;
}

.list-block {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 2px solid #fff;
  margin-bottom: 20px;
}

.list-item {
  position: relative;
  width: 32%;
  background: #fff;
  padding-bottom: 20px;
  margin-right: 1.65%;
}

.list-item:last-child {
  margin-right: 0;
}

.list-item h3 {
  color: #555;
  text-decoration: underline;
  padding: 5px 30px;
}

.list-item a {
  display: block;
  color: #555;
  padding: 5px 30px;
}

.list-item .reff {
  position: absolute;
  padding: 0;
  width: 100%;
  height: 100%;
  transition: 0.2s;
}

.list-item .reff:hover {
  background: rgba(255, 255, 255, 0.1);
 }

.list-item .btn {
  display: block;
  color: #fff;
  padding: 5px 10px;
  width: 80%;
  margin: 5px auto;
  font-size: 30px;
  text-align: center;
  white-space: nowrap;
}

.list-item img {
  width: 100%;
}

.list-item ul {
  margin-top: 10px;
  margin-left: 20px;
}

.list-item li {
  display: inline-block;
  border-right: 1px solid #3498db;
  padding: 0 20px;
  font-size: 13px;
  font-weight: 600;
}

.list-item li  i {
  margin: 0 5px;
}

.list-item li:last-child {
  border-right: none;
}

footer {
  background: #fff;
  padding: 10px 5px;
}

footer p{
  text-align: center;
}


.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#modal-contact > div {
  position: relative;
  margin: 10% auto;
  background-color: #fff;
  width: 280px;
}

#modal-contact form {
  width: 90%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 10px;
  }

  #modal-contact input[type="text"] {
  width: 40%;
  padding: 5px;
}

#modal-contact input[type="text"]:nth-child(1) {
width: 40%;
margin-bottom: 10px;
margin-right: 50px;
}

#modal-contact input[type="text"]:nth-child(2),
#modal-contact input[type="text"]:nth-child(3) {
width: 43.5%;
}

#modal-contact textarea {
    margin-top: 10px;
    padding: 5px;
    width: 95%;
}

#modal-contact .btn {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
}

#modal-contact .close,
#modal-item .close {
  position: absolute;
  padding: 5px;
  right: 8px;
  top: 5px;
  color: #000;
}

#modal-item > div {
  position: relative;
  margin: 10% auto;
  background-color: #fff;
  width: 800px;
}

#modal-item img {
  width: 330px;
  margin: 5px 10px;
}

#modal-item .mo-imgs-small img {
  width: 96px;
  margin: 5px 8px;
}

#modal-item .mo-imgs {
  float: left;
}

#modal-item ul.topp {
  position: relative;
  display: flex;
  border: 1px solid #aaa;
  padding: 10px 15px;
  width: 48%;
  top: 35px;
}
  #modal-item  li{
  flex: 1 1 30%;
  color: #555;
  font-size: 17px;
}

#modal-item  li i{
margin-right: 10px;
}


#modal-item .mo-tags {
  border: 1px solid #aaa;
  display: inline-block;
  position: relative;
  top: 50px;
  width: 52%;
}

#modal-item .mo-tags p {
  color: #555;
}

#modal-item .mo-tags i {
  padding: 10px 20px;
  padding-right: 5px;
}

#modal-item .mo-tags ul {
  width: 98%;
  padding: 5px 10px;
}

#modal-item .mo-tags li {
  display: inline-block;
  width: 30.3%;
  padding: 8px 5px;
  vertical-align: top;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width:1200px) {
  .list-item li {
    padding: 0px 4%;
}
}

@media (max-width:980px) {
  .main-bg {
    background-position: top;
  }

  .list-block {
    text-align: center;
  }

  .list-item {
    width: 48.1%;
    margin-bottom: 10px;
}
}

@media (max-width: 842px) {
  #modal-item > div {
      width: 300px;
  }

  #modal-item img {
    width: 280px;
    margin-top: 28px;
  }

  #modal-item .mo-imgs-small img {
    width: 130px;
}

#modal-item ul.topp {
    border: none;
    width: 89.2%;
}

#modal-item .mo-tags {
  border: none;
    position: static;
    margin-top: 50px;
    width: 99.2%;
}
  .main-bg {
    background-size: cover;
  }
  .opis ul {
    display: block;
  }
}

@media (max-width: 684px) {
  #modal-contact > div {
    width: 280px;
}

#modal-contact input[type="text"] {
    width: 95%;
    margin-bottom: 10px;
}

#modal-contact textarea {
    width: 96.4%;
}

  .list-item {
    width: 100%;
}

.main-top h3 {
    font-size: 22px;
}

.hd-top h2, .hd-top i {
    font-size: 16px;
    vertical-align: text-bottom;
}

.hd-top i {
  font-size: 22px;
  padding-left: 5px;
}

.teleph i, .teleph a, .teleph p {
    font-size: 13px;
}

.teleph {
     margin-top: 0px;
}
}

@media (max-width: 520px) {

  .hd-inscription {
    display: none !important;
  }
  .main-top h3 {
    font-size: 16px;
}

.hd-top {
    text-align: center;
}

.teleph {
  float: none;
  margin-left: 5px;
}
}
